.main-section {
    margin-bottom: $font-size-main;

    &-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left-side {

            .main-image{
                display: block;
                width: 100%;
            }

            .image-name {
                background-color: $corpColor;
                color: $lightFontColor;
                margin: 0;
                padding: $font-size-main*0.02 $font-size-main*0.4;
            }
        }

        .right-side {
            padding: 0 $font-size-main;
            line-height: $font-size-main * 1.4;
        }
    }
}

@media screen and (max-width:1000px) {
    .main-section-container {
        grid-template-columns: 1fr;
    }
}