$corpColor: #8bc243;
$logoFontColor: hsl(53, 7%, 76%);
$lightFontColor: #ffffff;
$darkFontColor: #666666;
$backgroundColor: #f1f1eb;
$font-family-main: sans-serif;
$font-family-secondary: arial;
$font-family-logo: "Source Code Pro";
$font-size-main: 20px;

body {
    margin: 0;
    background-color: $backgroundColor;
    font-family: $font-family-secondary;
    color: $darkFontColor;
}

@import "_header.scss";
@import "_sectionMain.scss";
@import "_sectionNews.scss";